<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" type="SitecoreOwinFederator.pipelines.HttpRequest.AuthenticationChecker, SitecoreOwinFederator" />
      </httpRequestBegin>
    </pipelines>
    <settings>
      <setting name="ADFS.Authenticator.AdminUserRole" value="admins" />
    </settings>
  </sitecore>
</configuration>