<p>Hello from the controller today's date is @DateTime.Today.ToShortDateString()</p>
<p>
    @if (Request.IsAuthenticated)
    {
        <text>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-text">
                    Hello, @User.Identity.Name!
                </li>
                <li>
                    @Html.ActionLink("Sign out", "SignOut", "Account")
                </li>
            </ul>
        </text>
    }
    else
    {
        <text>
            <ul class="nav navbar-nav navbar-right">
                <li>Hello Anonymous user</li>
            </ul>
        </text>
    }
</p>
